<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - El-Youm 8">Student Search</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>

<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
     style="width: 280px; height: 100vh; position: fixed; right: 0; top: 0;">
    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4 fw-bold text-primary mx-auto">El-Youm 8</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-4">
            <a th:href="@{/natega}" th:classappend="${activePage == 'seat'} ? 'nav-link active' : 'nav-link'"
               aria-current="page">
                <i class="bi bi-search me-2"></i>
                البحث برقم الجلوس
            </a>
        </li>
        <li class="nav-item mb-4">
            <a th:href="@{/natega/searchByName}"
               th:classappend="${activePage == 'name'} ? 'nav-link active' : 'nav-link'">
                <i class="bi bi-fonts me-2"></i>
                البحث بالاسم
            </a>
        </li>
        <li class="nav-item mb-4">
            <a th:href="@{/natega/listAll}"
               th:classappend="${activePage == 'all'} ? 'nav-link active' : 'nav-link'">
                <i class="bi bi-bar-chart me-2"></i>
                الترتيب
            </a>
        </li>
        <li class="nav-item mb-4">
            <a th:href="@{/natega/searchByRange}"
               th:classappend="${activePage == 'range'} ? 'nav-link active' : 'nav-link'">
                <i class="bi bi-sliders me-2"></i>
                بحث بين رقمين جلوس
            </a>
        </li>
    </ul>
    <hr>

    <!-- Bottom Section -->
    <div class="mt-auto d-flex flex-column align-items-center">
        <!-- GitHub link -->
        <a href="https://github.com/Yusuf-Hussien/El-Youm-8" target="_blank"
           class="text-decoration-none text-dark d-flex align-items-center">
            <i class="bi bi-github me-1" style="font-size: 1.5rem;"></i>
            <span>Repository</span>
        </a>
        <a href="https://linkedin.com/in/yusuf-7ussien" target="_blank">
            <img alt="test" src="/images/MY_LOGO.png" width="145" class="mb-2">
        </a>
    </div>
</div>

<!-- Content Placeholder -->
<div class="container" style="margin-right: 300px;">
    <section layout:fragment="content">
        <p>Default content</p>
    </section>
</div>

<!-- JavaScript for Sidebar Navigation -->
<script>
    document.querySelectorAll('.nav-pills .nav-link').forEach(link => {
        link.addEventListener('click', function () {
            document.querySelectorAll('.nav-pills .nav-link').forEach(item => item.classList.remove('active'));
            this.classList.add('active');
        });
    });
</script>
</body>
</html>


