<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:title="Search by Name">Search</title>
</head>
<body>
<section layout:fragment="content">

    <form id="studentForm" method="post" th:action="@{/natega/searchByName}" th:object="${formData}">
        <div class="form-group">
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">بحث</button>
                <input type="text" th:field="*{text}" class="form-control" id="arabicNameInput" placeholder="الاسم"
                       required>
                <small th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-check my-2">
            <input class="form-check-input" type="checkbox" th:field="*{spellCheck}" id="spellCheckInput">
            <label class="form-check-label" for="spellCheckInput">
                التدقيق الإملائي
            </label>
        </div>
        <div class="form-check my-2">
            <input class="form-check-input" type="checkbox" th:field="*{isMidName}" id="isMidNameInput">
            <label class="form-check-label" for="isMidNameInput">
                 البحث باسم الأب أو العائلة
            </label>
        </div>

    </form>

    <div th:if="${students}" th:replace="fragments/students-table :: studentsTableFragment(${students})"></div>

</section>
</body>
</html>