<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title='Search by Name', activePage='name', content=~{::div})}">
<div>

    <form id="studentForm" method="post" th:action="@{/natega/searchByName}" th:object="${formData}">
        <div class="form-group">
            <label for="arabicNameInput">الاسم</label>
            <input type="text" th:field="*{text}" class="form-control" id="arabicNameInput" placeholder="أدخل الاسم" required>
            <small th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-danger"></small>
        </div>
        <button type="submit" class="btn btn-primary">بحث</button>
    </form>


    <div th:if="${students}">
        <h6>نتائج البحث</h6>
        <table class="table">
            <thead>
            <tr>
                <th>رقم الجلوس</th>
                <th>الاسم</th>
                <th>مجموع الدرجات</th>
                <th>النسبة المئوية</th>
                <th>الترتيب</th>
                <th>الترتيب مكرر</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.seatNumber}"></td>
                <td th:text="${student.arabicName}"></td>
                <td th:text="${student.totalDegree}"></td>
                <td th:text="${student.percentage} + ' %'"></td>
                <td th:text="${student.studentRank}"></td>
                <td th:text="${student.rankWithDuplicates}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>