<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:title="Search by Seat Range">Search</title>
</head>

<body>
<section layout:fragment="content">
    <form method="post" th:action="@{/natega/searchByRange}" th:object="${seatNumbers}" >
        <div class="form-group">
            <label for="startSeat">رقم الجلوس الأول</label>
            <input type="text" th:field="*{startSeatNumber}" name="startSeat" class="form-control" id="startSeat" placeholder="رقم الجلوس الأول" required>
            <!--<small th:if="${#fields.hasErrors('text')}" th:errors="*{startSeatNumber}" class="text-danger"></small>-->
        </div>
        <div class="form-group">
            <label for="endSeat">رقم الجلوس الأخير</label>
            <input type="text" th:field="*{endSeatNumber}" name="endSeat" class="form-control" id="endSeat" placeholder="رقم الجلوس الأخير" required>
            <!--<small th:if="${#fields.hasErrors('text')}" th:errors="*{endSeatNumber}" class="text-danger"></small>-->
        </div>
        <button type="submit" class="btn btn-primary">بحث</button>
    </form>

    <div th:if="${students}">
        <h6>نتائج البحث</h6>
        <table class="table">
            <thead>
            <tr>
                <th>رقم الجلوس</th>
                <th>الاسم</th>
                <th>مجموع الدرجات</th>
                <th>النسبة المئوية</th>
                <th>الترتيب</th>
                <th>الترتيب مكرر</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.seatNumber}"></td>
                <td th:text="${student.arabicName}"></td>
                <td th:text="${student.totalDegree}"></td>
                <td th:text="${student.percentage} + ' %'" style="color: #0d6efd;font-weight: bold"></td>
                <td th:text="${student.studentRank}"></td>
                <td th:text="${student.rankWithDuplicates}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>